@import 'login.scss';

html, body, #__next {
  height: 100%;
  margin: 0;
}

.flex {
  display: flex;
  flex-direction: column;

  &-center {
    justify-content: center;
    align-items: center;
  }
  &-row {
    flex-direction: row;
  }
  &.is-full { height: 100%; }
}